<script>
    function returnToTheLastPage() {
        window.history.back()
    }
</script>

<h1>Cota cadastrada com sucesso.</h1>
<button onclick="returnToTheLastPage()">Voltar para a página anterior</button>